.about-container{
    height: 100%;
    min-height: 875px;
    background-color: #FFFFFF;
    color: #202020;
    /* background-color: #FFFFFF;
    color: #202020; */
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}
.profilepic{
    border-radius: 50%;
    width: 170px;
    height: 170px;
    border: 2px solid #202020;
    /* border: 2px solid #202020; */
    float: left;
    shape-outside: circle();
}
.profile-container{
    height: 100%;
}
.about-horizontal-container{
    display: flex;
    flex-direction: row;
}
.education-container{
    margin-top: 100px;
    width: 50%;
    padding: 2px;
    word-wrap: break-word;
}
.education-container b{
    text-decoration: underline;
}
.resume-button{
    background-color: #202020;
    color: #FFFFFF;
    margin-top: 100px;
    border-radius: 12px;
}
