.skills-page{
    min-height: 850px;
    background-color: rgb(255, 255, 255);
}
.skills-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.project{
    width: 200px;
    height: 200px;
    margin: 5px;
    display: flex;
    justify-content: center;
}

.project-logos{
    width: 100%;

}

/* 
.divider{
    aspect-ratio: 1000/20;
    width: 100%;
    background-image: url('../assets/btg-wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
} */
